footer{
    background-color: #262B46;
    color: white;
    padding: 5%;
    h2{
        margin-block: 3vh;
        font-size: 2rem;
    }
    p{
        padding-bottom: 8vh;
        margin-block: 3vh;
    }
}