.vodkaListWrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #262B46;
    position: relative;
    gap: 16px;
    padding: 24px;
}

@media screen and (max-width: 576px){
    .vodkaListWrap{
        display: block;
        padding: 0;
        padding-bottom: 2vh;
    }
}