

.rum-container {
    padding: 20px;
    background-color: #262B46;
}


.rumName{
    color: white;
}


h1 {
    color: white;
    text-align: center;
    padding: 30px;
    font-size: 3rem;
}

.cocktail-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    margin-top: 20px;
    gap: 30px;
}

.cocktail-item {
    background-color: #E7B788;
    padding: 10%;
    text-align: center;
    transition: 0.3s;
    transition: 0.3s;
    border-radius: 20px;

    &:hover {
        background-color: #e09e5c;
        cursor: pointer;
    }
    img{
        max-width: 85%;
        margin: 0 auto;
        border-radius: 20px;
    }
    p{
        font-size: 1.75rem;
        color: white;
        margin-top: 1vh;
    }
}

.cocktail-item img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.cocktail-item img:hover {
    transform: scale(1.1);
}




.selected-cocktail {
    position: fixed; /* Festes Position */
    top: 50%; /* Zentriert auf der vertikalen Achse */
    left: 50%; /* Zentriert auf der horizontalen Achse */
    transform: translate(-50%, -50%); /* Zentriert das Element genau im Mittelpunkt */
    background-color: rgba(11, 10, 10, 0.877);
    border-radius: 10px;
    color: white;
    padding: 20px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    z-index: 9999; /* Immer Sicher sein dass das Modal über anderen Inhalten liegt */
}

.selected-cocktail img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.selected-cocktail h2 {
    color: white;
    margin-bottom: 10px;
}

.selected-cocktail h3 {
    margin-top: 20px;
    color:white;
}

.selected-cocktail ul {
    list-style: none;
    padding: 0;
}

.selected-cocktail ul li {
    margin-bottom: 5px;
}

.selected-cocktail p {
    margin-top: 20px;
}



/* Stil des Schließ-Buttons im Modal */
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    font-size: 18px;
    padding: 5px; 
     max-height: 70vh; /* kann angepasst werden */
    overflow-y: auto;
}