@font-face {
  font-family: "Poppins_Reg";
  src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url(./fonts/PlayfairDisplay-Bold.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PlayfairDisplay-Bold";
}

p {
  font-family: "Poppins_Reg";
}
